{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <article>
        <h2>Admin Dashboard</h2>
        <h3>Teams</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <td>{{ team.points|round(2) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}